* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Overpass', sans-serif;
    background: hsl(216, 12%, 8%);
    color: white;
}

.container-wrapper {
    max-width: 1440px;
    margin: 10px auto;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #252d37;
    padding: 25px;
    border-radius: 30px;
    width: 410px;
    height: 430px;
}

.star i {
    background-color: #313a45;
    padding: 15px;
    border-radius: 50%;
    font-size: 18px;
    color: hsl(25, 97%, 53%);
}

.rating-stars {
    /* background-color: #313a45; */
    display: flex;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
    border-radius: 50%;
}

.rate {
    display: flex;
    /* border: 1px solid black; */
    background-color: #313a45;
    padding: 20px;
    height: 50px;
    width: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    transition: all .3s ease-out;
    font-weight: bold;
}

.rate:hover {
    background-color: rgb(161, 159, 159);
}

input[type=submit] {
    display: block;
    background-color: hsl(25, 97%, 53%);
    color: white;
    width: 100%;
    border-radius: 50px;
    padding: 20px;
    border: none;
    font-weight: bold;
    letter-spacing: 2px;
    text-transform: uppercase;
    transition: all .3s ease-in-out;
}

input[type=submit]:hover {
    background-color: white;
    color: hsl(25, 97%, 53%);
}

.content p {
    font-family: 'Poppins', sans-serif;
    font-weight: 400 !important;
    font-size: 15px;
}

.rating-stars-radio {
    display: flex;
    justify-content: space-around;
}

.input-container {
    position: relative;
    /* border: 1px solid wheat; */
    width: 50px;
    height: 50px;
    border-radius: 50px;
    background: #313a45;
    bottom: 18px;
}

.input-container input {
    position: absolute;
    width: 50px;
    height: 50px;
    color: red !important;
    z-index: 2;
    opacity: 0;
    top: 0;
    /* transition: all .5s ease-in; */
}

.input-container .radio-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    /* border: 1px solid pink; */
    height: 50px;
    border-radius: 50px;
    /* transition: all .3s ease-in; */
    border: 0;
}

.input-container label {
    font-size: 20px;
}

input:checked+.radio-title {
    background-color: hsl(25, 97%, 53%);
    border-radius: 50px;
}

input:hover+.radio-title {
    background-color: hsl(216, 12%, 54%);
    border-radius: 50px;
    transition: all .3s ease-in;
}